*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.contenitore{
    max-width: 1240px;
    margin: 0 auto;
}

.blocco_head{
    min-height: 100px;
    margin-bottom: 20px;
}

#head_logo{
    height: 50px;
    border-right: 1px solid grey;
    padding-right: 20px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

li{
    float: left;
    padding-right: 10px;
}

.blocco_sez1{
    min-height: 500px;
    margin-bottom: 20px;
    background-image: url(img/banner.jpg);
    background-size: auto;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.sez1_testo{
    color: white;
    position: absolute;
    left: 40px;
    bottom: 60px;
    width: 600px;
    z-index: 10;
}

.testo_head{
    font-size: 30px;
}

.blocco_sez1::after{
    content: "";
    display: block;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}

.blocco_sez2{
    min-height: 500px;
    margin-bottom: 5px;
}
.superiore{
    padding: 20px 0;
}

.superiore p{
    color: grey;
}


.inferiore{
    position: relative;
}


[id^="img"]{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.col_1::after{
    content: "";
    display: block;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    top: 0;
}

.col_2::after{
    content: "";
    display: block;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    height: 200px;
    width: calc(100% - 300px - 300px - 10px - 10px);
    border-radius: 10px;
    top: 0;
}
.col_3::after{
    content: "";
    display: block;
    background-color: black;
    opacity: 0.2;
    position: absolute;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    top: 0;
}

.blocco_sez2{
    min-height: 700px;
    margin-bottom: 5px;
}

.col{
    min-height: calc(700px - 80px - 20px - 15px);
    float: left;
}

.col_1,.col_3{
    width: 300px;
}

.col_2{
    width: calc(100% - 300px - 300px - 10px - 10px);
}

.col_1{
    margin-right: 10px;
}

.col_3{
    margin-left: 10px;
}



.inferiore p{
    font-size: 12px;
    color: grey;
    padding-top: 5px;
}

.inferiore span{
    font-size: 13px;
    padding-top: 10px;
    display: block;
}

.blocco_foot{
  font-size: 13px;
  text-align: center;
  line-height: 50px;
}

.blocco_foot span{
    color: red;
}

/* debug */

.debug .blocco_head{
    background-color: rgb(215, 120, 220);
    height: 100px;
    margin: 20px 0;
}

.debug .blocco_sez1{
    background-color: rgb(222, 207, 122);
    height: 500px;
    margin-bottom: 20px;
}

.debug .blocco_sez2{
    background-color: rgb(30, 125, 248);
    height: 700px;
    margin-bottom: 5px;
}

.debug .blocco_foot{
    background-color: rgb(113, 44, 244);
    height: 50px;
    margin-bottom: 20px;
}

.debug .blocco_sez2 .superiore{
    height: 80px;
    margin-bottom: 20px;
    background-color: rgb(165, 200, 225);
}

.debug .col{
    height: calc(700px - 80px - 20px - 15px);
    background-color: rgb(165, 200, 225);
    float: left;
}

.debug .col_1,.col_3{
    width: 300px;
}

.debug .col_2{
    width: calc(100% - 300px - 300px - 10px - 10px);
}

.debug .col_1{
    margin-right: 10px;
}

.debug .col_3{
    margin-left: 10px;
}

